<!-- <div class="jumbotron text-center">
<div ng-show="qrCode == undefined">
	<img ng-src="{{qrCode}}" src="value">
	<a id="qrcode" style="width:100px; height:100px; margin-top:15px;" download></a>
</div>
<div>
	<label>Select Class</label> <select ng-model="className" ng-options="x for x in classNames"></select>
	<p></p>
	<label>Enter Syllabus Number</label>  <input type="text" ng-model="syllabusNo">
	<p></p>
	<label>Enter Content Section Value</label><input type="text" ng-model="contentId">
	<input id="text" type="text" value="http://nexteducation.com" style="width:80%" /><br />
</div>
<div>

</div>
	<p></p>
	<p> <button ng-click="generateQRCode()">Generate</button> </p>
	<p> <button ng-click="download()">Download</button> </p>
</div>
 -->

 	<div class="form-horizontal">
		<label class="col-sm-6 control-label text-right">Select Grade </label> <select class="selectpicker" ng-model="className" ng-options="x for x in classNames"></select>
			<p></p>
		<label class="col-sm-6 control-label text-right">Enter Subject Name </label> <!-- <input type="text" ng-model="syllabusNo" required> -->
			<select class="selectpicker" ng-model="syllabusNo" ng-options="x for x in subjects"></select>
			<p></p>
		<label class="col-sm-6 control-label text-right">Enter Page No </label> <input type="text" ng-model="pageNo" required>
		<label class="col-sm-6 control-label text-right">Enter Description </label> <input type="text" ng-model="description" required>
	</div>
 	<label class="label label-info control-label">Click on image to download</label>
 	<p>
	<p> <button class ="btn-warning btn-lg" ng-click="generateQRCode()">Generate</button> </p>
	<label class="label label-info control-label" ng-show="isQRGenerated">QR code generated but not saved. Click on 'save' to save the code</label>
	<p> <button class ="btn-warning btn-lg" ng-click="download()" ng-show="isQRGenerated">Save</button> </p>
	<p> <button class ="btn-warning btn-lg" ng-click="createNew()">New</button> </p>

	<label class="col-sm-6 label label-danger text-right">{{generalText}}</label>