<div class="container-fluid" ng-init="showStuff()">
  <div class="row">
    <div class="col-md-2">

	    <p>
		    Search:
		    <input ng-model="filterData" />
	  	</p>
	  	<p>
	  		Create zip for current result
	  		<div style="width: 50px;height: 50px; text-align: center; cursor: pointer; cursor: hand;" ng-click="zipDownload(filterData)">
	  			<img src="../img/zipIt.png" style="width: 100%; height: 100%" >
	  		</div>
	  		 <a href="{{filesZipped}}" ng-show="filesZipped" target="_blank">Download</a>
	  	</p>
  	</div>

  	<div class="col-md-10 text-left">
  		<ul class="phones">
	        <li ng-repeat="qrcode in qrcodes | filter:filterData" class="thumbnail phone-list-item">
	          
	          <div>
		          <a href="" class="block m-b-10">{{qrcode.image_title}}</a>
		          <p class="m-b-10"> Description {{qrcode.image_description}}</p>
		          <p class="m-b-10">Page No: {{qrcode.image_pgno}}</p>
		          <a href="{{qrcode.path}}" download="{{qrcode.image_title}}" target="_blank">Download
	            		<!-- <img src="{{qrcode.path}}" alt="{{qrcode.name}}" class="imageSmall"/> -->
	          	  </a>
	          </div>
	          <div style="width: 30px;height: 30px; float: right;" ng-click="addMappingToImage(qrcode.image_title)">
	          	<img src="../img/add.png" alt="add mapping" style="width: 100%; height: 100%" />
	          </div>
	        </li>
	    </ul>
	</div>
  </div>
</div>