* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', 'Arial', 'sans';
    text-align: center;
    background: repeat url('back.png');
}

#banner {
    display: block;
    text-decoration: none;
    color: rgb(29, 119, 194);
    padding: 12px 0 0;
    text-align: center;
}

#banner:hover {
    color: #333;
}

#container {
    display: inline-block;
    margin: 20px auto;
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
    -webkit-print-color-adjust: exact;
}

#container > * {
    display: block;
}

.control {
    position: absolute;
    background-color: #f8f8f8;
    top: 0;
    width: 190px;
    box-shadow: 0 0 32px rgba(0,0,0,0.5);
    overflow: hidden;
    text-align: left;
}

.control.left {
    left: 0;
    top: 60px;
}

.control.right {
    right: 0;
    top: 60px;
}

hr {
    margin: 12px 0 0;
    padding: 0;
    border: none;
    height: 1px;
    background-color: rgba(0,0,0,0.1);
}

label {
    font-size: 10px;
    color: #aaa;
    padding: 12px 4px 0 4px;
}

input, textarea, select {
    font-family: 'Ubuntu', 'Arial', 'sans';
    display: block;
    background-color: #fff;
    margin: 2px;
    padding: 0 2px;
    border: 1px solid #ddd;
    width: 180px;
    height: 22px;
}

#text {
    height: 48px;
}

#img-buffer {
    display: none;
}

input[type='range'] {
    -webkit-appearance: none;
    cursor: pointer;
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aaa), color-stop(1, #aaa));
}

@media print {
    #container {
        box-shadow: none;
    }

    .control {
        display: none;
    }
}

.block{
  display: block;
}

.m-b-10{
  margin-bottom: 10px;
}
.m-b-15{
  margin-bottom: 15px;
}

.phone-list-item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* Animate `ngRepeat` in `phoneList` component */
.phone-list-item.ng-enter,
.phone-list-item.ng-leave,
.phone-list-item.ng-move {
  overflow: hidden;
  transition: 0.5s linear all;
}

.phone-list-item.ng-enter,
.phone-list-item.ng-leave.ng-leave-active,
.phone-list-item.ng-move {
  height: 0;
  margin-bottom: 0;
  opacity: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.phone-list-item.ng-enter.ng-enter-active,
.phone-list-item.ng-leave,
.phone-list-item.ng-move.ng-move-active {
  height: 120px;
  margin-bottom: 20px;
  opacity: 1;
  padding-bottom: 4px;
  padding-top: 15px;
}

/* Animate view transitions with `ngView` */
.view-container {
  position: relative;
}

.view-frame {
  margin-top: 20px;
}

.view-frame.ng-enter,
.view-frame.ng-leave {
  background: white;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.view-frame.ng-enter {
  animation: 1s fade-in;
  z-index: 100;
}

.view-frame.ng-leave {
  animation: 1s fade-out;
  z-index: 99;
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Older browsers might need vendor-prefixes for keyframes and animation! */
.phone {
  background-color: white;
  display: none;
  float: left;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  width: 400px;
}

.phone:first-child {
  display: block;
}

.phone-images {
  background-color: white;
  float: left;
  height: 450px;
  overflow: hidden;
  position: relative;
  width: 450px;
}

.phone-thumbs {
  list-style: none;
  margin: 0;
}

.phone-thumbs img {
  height: 100px;
  padding: 1em;
  width: 100px;
}

.phone-thumbs li {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  margin: 1em;
}

.specs {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

.specs dt {
  font-weight: bold;
}

.specs > li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.specs > li > span {
  font-size: 1.2em;
  font-weight: bold;
}
.thumb{
  width: 150px;
  height: 150px;
  margin-right: 20px;
}